.tabletext {
  color:white;
  text-align: center;
  position: absolute; right: 400px;
  font-family: 'Lucida Calligraphy', cursive;
}

.footer {
  font-family: sans-serif;
  text-align: center;
  position: absolute; top: 640px; left: 600px;
  font-size: 10px;
  color:white
}

.table {
  position: absolute; top: 150px; left: 350px; 
  border-collapse: collapse;
  border-color: black;
  border-top: black;
  border-bottom: black;
  border-left: black;
  border-right: black;
  height: 50%;
  width: 30%;
  color:white;
  font-family: cursive
}

#realtable {
  border: 1px solid black;
  border-color: black;
  border-top: black;
  border-bottom: black;
  border-left: black;
  border-right: black;
  height: 50%;
  width: 30%;
  color: black;
}

#btn1 {
    background-color: transparent;
    border: none;  
    font-size: 30px;
    border-radius: 12px;
    position: absolute; top: 25px; right: 25px;
    color: white;
}

#btn2 {
  background-color: transparent;
  border: none;  
  font-size: 30px;
  border-radius: 12px;
  position: absolute; top: 25px; right: 125px;
  color: white;
}

#btn2:hover {
    background-color: #0275d8;
}

#btn1:hover {
    background-color: #0275d8;
}

body {
  background: url(/new_website/images/pexels-photo-747964.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

